<h1>Bonjour, veuillez confirmer votre adresse email</h1>

<p>
    Veuillez confirmer votre adresse en cliquant sur le lien suivant :<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
